<h2><%= l(:label_meeting_new) %></h2>

<%= labelled_form_for @meeting, :url => {:action => "create", :project_id => @project} do |f| %>
	<%= error_messages_for 'meeting' %>
	<div class="box tabular">
		<%= render :partial => 'form' %>			
	</div>

	<%= submit_tag l(:button_create) %>
	<%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
	
<% end %>
