<h1><%= link_to(h("#{l(:label_meeting)} ##{meeting.id}: #{meeting.subject}"), meeting_url) %></h1>

<ul>
<li><%=l(:field_author)%>: <%=h meeting.author %></li>
<li><%=l(:field_status)%>: <%=h(meeting.display_status) %></li>
<li><%=l(:field_date)%>: <%=h meeting.date %></li>
<li><%=l(:field_start_hour)%>: <%=h meeting.start_hour.strftime("%I:%M %p")%></li>
<li><%=l(:field_end_hour)%>: <%=h meeting.end_hour.strftime("%I:%M %p")%></li>
<li><%=l(:field_estimated_hours)%>: <%=h meeting.estimated_hours%></li>
<li><%=l(:field_location)%>: <%=h meeting.location%></li>
</ul>

<%= textilizable(meeting, :description, :only_path => false) %>
